<ion-view view-title="About Open Grid Map">
  <ion-content style="top:50px">
    <div class="row">
      <img style="height:100px;margin:0 auto" src="img/open_grid_map_logo_rounded.png"/>
    </div>
    <div class="row">
      <span class="about_text">
        We are an open community that crowdsources realistic power grid data to be used for research purposes. Here you will find the tools for crowdsourcing power grid data. The goal is to create an open platform for inferring realistic power grids based on actual data. Our vision is to provide a tool to researchers and practitioners that is able to produce realistic input data for simulation studies. OpenGridMap will support the entire process from data collection to formatting grid data for various purposes. We explore innovative ways to capture data and produce power grid approximations, e.g., using smartphone apps, drones, expert classification, existing map APIs, and graph inference algorithms. We are still in the early developing phase and we could really use your help. Join us and lets map the world\'s power grid!!! <a href="https://www.facebook.com/opengridmap">facebook page</a>
      </p>
    </div>
    <div class="row">
      <span class="about_text">
        <strong>Contact</strong>
        <br>
        For any inquiries please contact Jose (<a href="mailto:j.rivera@tum.de">j.rivera@tum.de</a>). The project was started by the chair for applications and middleware systems of TU Munich and is supported by a German Federal Ministry of Education and Research grant (BMBF 01IS12057) and the Alexander von Humbolt Foundation.</string>
      </span>
    </div>
  </ion-content>
</ion-view>
